

@if(chips!=undefined){
  <div class="row">
    <div class="col-lg-3 col-sm-6">
      <div class="info-box7 bg-c-blue order-info-box7">
        <div class="info-box7-block">
          <h6 class="m-b-20">{{chips[0].title}}</h6>
          <h4 class="text-end"><i class="fas fa-spinner float-start"></i><span>{{chips[0].icontext}}</span></h4>
          <p class="m-b-0">{{chips[0].underText}}</p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-sm-6">
      <div class="info-box7  bg-c-yellow  order-info-box7">
        <div class="info-box7-block">
          <h6 class="m-b-20">{{chips[1].title}}</h6>
          <h4 class="text-end"><i class="fas fa-paper-plane  float-start"></i><span>{{chips[1].icontext}}</span></h4>
          <p class="m-b-0">{{chips[1].underText}}</p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-sm-6">
      <div class="info-box7 bg-c-pink order-info-box7">
        <div class="info-box7-block">
          <h6 class="m-b-20">{{chips[2].title}}</h6>
          <h4 class="text-end"><i class="fas fa-ban float-start"></i><span>{{chips[2].icontext}}</span></h4>
          <p class="m-b-0">{{chips[2].underText}}</p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-sm-6">
      <div class="info-box7  bg-c-green order-info-box7">
        <div class="info-box7-block">
          <h6 class="m-b-20">{{chips[3].title}}</h6>
          <h4 class="text-end"><i class="fas fa-check float-start"></i><span>{{chips[3].icontext}}</span></h4>
          <p class="m-b-0">{{chips[3].underText}}</p>
        </div>
      </div>
    </div>
  </div>

} @else {
  <mat-progress-spinner></mat-progress-spinner>
}
