<section class="content">
  <div class="content-block">
    <div class="block-header">
      <div class="container-fluid">
        <div class="row">
          <app-breadcrumb [title]="'Data Timesheet '+((timesheet!=null)?monthsInItalian[timesheet.mese]+' - '+timesheet.anno:'')" [items]="['Home']" [active_item]="'Dettaglio Timesheet'" [hidden]="timesheet==null"></app-breadcrumb>
          <app-breadcrumb [title]="'Gestione Timesheet'" [items]="['Home']" [active_item]="'Ricerca Timesheet'" [hidden]="timesheet!=null"></app-breadcrumb>
        </div>
        @if(timesheet!=null){
          <div class="row mb-3">
            <div class="col-xl-4 col-lg-4 col-md-4">

            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 pt-2 align-center align-content-center" >
            </div>
            <div class="col-xl-2 col-lg-2 col-md-2">

            </div>
            <div class="col-xl-2 col-lg-2 col-md-2 align-center justify-content-end">
              <mat-accordion>
                <mat-expansion-panel (opened)="panelOpenState=true" (closed)="panelOpenState=false">
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                     Ore permesso e ferie
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <p>Ore permesso anno in corso : {{(authService.currentUserValue.anagraficaLavorativa[0].giorniPermesso)}}</p>
                  <p>Ore ferie anno in corso : {{authService.currentUserValue.anagraficaLavorativa[0].giorniFerie}}</p>
                  <p>Ore permesso rimanenti : {{rimanezaPermesso}}</p>
                  <p>Ore ferie anno rimanenti : {{rimanezaFerie}}</p>
                </mat-expansion-panel>
              </mat-accordion>
            </div>
          </div>
        }
      </div>
    </div>
  </div>
  <div class="row" [style]="(timesheet==null)?{'margin-top':'5%'}:{}">
    <div class="col-xl col-lg col-md"></div>
    <div [class]="(timesheet==null)?'col-xl-10 col-lg-10 col-md-10 col-sm-10 justify-content-center':'col-xl-12 col-lg-12 col-md-12 col-sm-12'">
      <div class="card">
        @if (!laoding){
          <div class="header">
            <div class="container-fluid " >
              <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-4">
                  @if(timesheet!=null){
                    <button mat-raised-button color="primary" (click)="back()">
                      <div class="demo-google-material-icon">
                        <i class="material-icons">undo</i>
                        <span class="icon-name"> Torna alla ricerca</span>
                      </div>
                    </button>
                  }
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 pt-2 align-center align-content-center" >
                  <h3>{{ (timesheet==null)?'Seleziona Periodo Timesheet':'Scheda TImesheet' }}</h3>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4">
                  @if(timesheet!=null){
                    <mat-slide-toggle (change)="setAutomaticSave($event)">Salvataggio automatico</mat-slide-toggle>
                    <mat-slide-toggle (change)="setSlide($event)">Abilita margini cella</mat-slide-toggle>
                  }
                </div>
              </div>
            </div>
          </div>
          @if(timesheet==null){
            <div class="body">
              <div class="container">
                <form [formGroup]="YearMonthSearch">
                  <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-4">
                      @if (options.length>0){
                        <h6>Seleziona Timesheet esistente</h6>
                        <mat-form-field class="example-full-width" appearance="outline" >
                          <mat-label>Periodo</mat-label>
                          <mat-select formControlName="yearMonth">
                            <mat-option [value]="' '">Seleziona Periodo</mat-option>
                            @for (option of options ; track options){
                              <mat-option [value]="option.id">
                                {{ option.option }}
                              </mat-option>
                            }
                          </mat-select>
                        </mat-form-field>
                      }
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-4">
                      <h6>Seleziona nuovo periodo Timesheet</h6>
                      <mat-form-field style="width: 100%" >
                        <mat-label>Mese e anno</mat-label>
                        <input matInput [matDatepicker]="dp" formControlName="selectPeriod">
                        <mat-datepicker-toggle matIconSuffix [for]="dp"></mat-datepicker-toggle>
                        <mat-datepicker #dp
                                        startView="multi-year"
                                        (monthSelected)="setMonthAndYear($event, dp)"
                                        panelClass="example-month-picker">
                        </mat-datepicker>
                      </mat-form-field>
                    </div>
                  </div>
                </form>
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-4">
                  <button mat-flat-button color="primary" style="width: 100%;height: 5vh"  type="submit" (click)="onSubmit()"
                          [disabled]="!YearMonthSearch.valid"> Inoltra Periodo Timesheet
                  </button>
                </div>
              </div>
            </div>
          }@else{
            <div class="body" style="width: 100%">
              <div class="container-fluid" style="width: 100%">
                <app-timesheet-dettaglio [rimanenzaFerie]="rimanezaFerie" (oreFerie)="minusOreFerie($event)" (orePermesso)="minusOrePermesso($event)" [rimanenzaPermesso]="rimanezaPermesso" (myEvent)="getKmPercorsiFromChild($event)" (timesheetEvent)="UpdateFieldTimesheet($event)"
                                         (myEvent2)="minusKmPercorsiFromChild($event)" [disableMargin]="checkedFR" [timesheet]="timesheet"></app-timesheet-dettaglio>
              </div>
            </div>
          }
        } @else {
          <div class="container-fluid">
            <div class="row align-center justify-content-center">
              <div class="col-xl-2 col-lg-2 col-md-2"></div>
              <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8 pt-2 align-center align-content-center">
                <mat-spinner></mat-spinner>
              </div>
              <div class="col-xl-2 col-lg-2 col-md-2"></div>
            </div>
          </div>

        }
      </div>
    </div>
    <div class="col-xl col-lg col-md"></div>
  </div>
  <div class="row">
    @if(authService.currentUserValue.rimborso && timesheet!=null && !laoding){
      <div class="row mt-5">
        <div class="col-xl-2 col-lg-2 col-md-2"></div>
        <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8">
          <div class="card">
            <div class="header">
              <h2>Sezione Giustificativi</h2>
            </div>
            <div class="body table-responsive">
              <table class="table custom-table">
                <tbody>
                <tr>
                  <td class="large-cell"><strong>Modello Auto :</strong></td>
                  <td>{{ authService.currentUserValue.modello_auto }}</td>
                </tr>
                <tr>
                  <td class="large-cell"><strong>Rimborso Km :</strong></td>
                  <td>{{authService.currentUserValue.rimborsoKm}} €</td>
                </tr>
                <tr>
                  <td class="large-cell"><strong>Totale Km Percorsi :</strong></td>
                  <td>{{totKm}}</td>
                </tr>
                <tr>
                  <td class="large-cell"><strong>Giustificativi :</strong></td>
                  <td>
                    <input class="inputHid" type="number" [(ngModel)]="ngiustificativi" (change)="updateNgiustificativi($event)">
                  </td>
                </tr>
                <tr>
                  <td class="large-cell"><strong>Totale Rimborso :</strong></td>
                  <td>{{totRimborsoKm}} €</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="col-xl-2 col-lg-2 col-md-2">
          <div class="row">
            <div class="col-xl-2 col-lg-2 col-md-2"></div>
            <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8">

            </div>
            <div class="col-xl-2 col-lg-2 col-md-2"></div>
            <button mat-flat-button color="accent" style="width: 100%;height: 5vh"   type="submit" (click)="onSubmit()"
                    [disabled]="!YearMonthSearch.valid"> Allega Giustificativo
            </button>
          </div>
        </div>
      </div>
    }
  </div>
  <div class="row">
    <div class="col-xl-2 col-lg-2 col-md-2"></div>
    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8">
      @if(timesheet!=null){
        <button mat-flat-button color="primary" style="width: 100%;height: 5vh" class="mb-5"   type="submit" (click)="onSubmitTimesheet()"
                [disabled]="!checkTimesheetIsValid()"> Invia Richiesta autorizzazione
        </button>
      }
    </div>
    <div class="col-xl-2 col-lg-2 col-md-2"></div>
  </div>

</section>

